[Unit]
Description=showOrder
After=network.target

[Service]
User=tinybreadbox
WorkingDirectory=/home/tinybreadbox/showOrder/
ExecStart=flask run --host='0.0.0.0'
Restart=always

[Install]
WantedBy=multi-user.target